/* Geral */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0 20px;
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0 0;
}

/* Posts */
main article {
    background-color: white;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

main article h2, main article h3 {
    margin-top: 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #333;
    color: white;
    margin-top: 40px;
}
